.l-items-grid {
  padding: 1rem 0;
  width: 100%;
  max-width: 860px;
  margin: 0 auto;
}
.l-items-grid__item {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media (min-width: 500px) {
  .l-items-grid__item {
    grid-gap: 1rem;
  }
  .l-items-grid__item--auto-justify {
    justify-content: center;
  }
  .l-items-grid__item--auto-justify-min {
    justify-content: start;
  }
}
.c-items-not-found {
  width: 100%;
  margin-top: 1rem;
}
.c-items-not-found__icon {
  width: 100%;
  display: grid;
  place-items: center;
  color: var(--light-grey);
}
.c-items-not-found__icon svg {
  size: 48px;
  stroke-width: 2px;
  opacity: 0.5;
}
.c-items-not-found__text {
  color: var(--med-grey);
  font-size: 1.25rem;
  text-align: center;
  line-height: 32px;
}
