.c-grid-loading {
  padding: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 100%;
  flex-direction: row;
}
@media (min-width: 500px) {
  .c-grid-loading {
    padding: 1rem 0.5rem 0;
    gap: 0.75rem;
    justify-content: center;
  }
}
.c-grid-loading__item {
  min-height: 200px;
  border-radius: 12px;
  min-width: 140px;
  background: linear-gradient(
    to right,
    var(--white) 10%,
    var(--light-grey) 50%,
    var(--white) 90%
  );
  animation: placeholderAnim 1500ms linear forwards infinite;
  opacity: 0.7;
  margin-bottom: 1rem;
  border: 1px solid var(--light-grey);
}

@keyframes placeholderAnim {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400 0;
  }
}
